.css-j204z7-MuiFormControlLabel-root {
  margin-left: 100px !important;
}

.css-julti5-MuiSwitch-root {
  width: 70px !important;
}

.css-1gcg9uy-MuiPaper-root-MuiCard-root {
  margin-left: 150px !important;
  width: fit-content !important;
}

.whatif {
  margin-left: 600px;
}

.whatifcontent {
  cursor: move;
  color: black;
  max-width: fit-content;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
  position: relative;
}

.react-draggable {
  position: relative !important;
  z-index: 9999999999999999999999999999999999999 !important;
}

input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 10px;
  width: 300px;
}

button {
  margin-left: 120px;
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 10px;
  width: 300px;
}