Select {
  width: 1000px !important;
}

.container {
  display: block;
  box-sizing: border-box;
  width: 300px;
  border-radius: 4px;
  border: 1px solid blue;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}